<form (submit)= "onAddMessage(msgForm)" #msgForm = "ngForm">
<mat-form-field>
    <input matInput type="text"
    name="title"
    placeholder="Enter title" ngModel>
</mat-form-field>

<mat-form-field>
    <input matInput type="text"
    name="description"
    placeholder="Enter description" ngModel>
    
</mat-form-field>

<button mat-button type="submit"> ADD MESSAGE </button>
<input type="radio" id="male" name="gender" value="male">
<input type="radio" id="female" name="gender" value="female">
</form>
